<!DOCTYPE html>
<html lang="en">
<head>
    <link rel = "stylesheet" href="{{url_for('static', filename='/dashboard.css')}}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="nav-logo">LOGO goes here</div>
        <div class="nav-links">
            <a>link 1</a>
            <a>link 2</a>
            <a>link 3</a>
        </div>
    </nav>
    <main>
        Dashboard goes here
        <p>add you work</p>
    </main>
    <footer>
        <div class="footer-statement">
            Made with ❤ by Sanjeev :)
        </div>
        <div class="footer-links">
            <a>contact1</a>
            <a>contact2</a>
            <a>contact3</a>
        </div>
    </footer>
</body>
</html>