<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='/index.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav>
        <div class="nav-logo">LOGO goes here</div>
        <div class="nav-links">
            <a>link 1</a>
            <a>link 2</a>
            <a>link 3</a>
        </div>
    </nav>
    <main>
        <h1>Welcome to todo app</h1>
        <h2>up your productivity!</h2>
        Lorem ipsum dolor sit amet,
        consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae.
        Accumsan sit amet nulla facilisi morbi tempus.
        Odio ut sem nulla pharetra diam sit amet nisl.
        Sed lectus vestibulum mattis ullamcorper.
        Cras tincidunt lobortis feugiat vivamus at.
        Sed viverra ipsum nunc aliquet bibendum enim facilisis gravida neque.
        Viverra accumsan in nisl nisi scelerisque eu ultrices.
        Sed egestas egestas fringilla phasellus.
        Iaculis at erat pellentesque adipiscing commodo.

        Eget nulla facilisi etiam dignissim diam quis.
        Egestas maecenas pharetra convallis posuere morbi.
        Vestibulum sed arcu non odio.
        Duis ut diam quam nulla porttitor massa.
        Ultrices eros in cursus turpis massa tincidunt dui ut.
        Sit amet risus nullam eget felis eget nunc.
        In hac habitasse platea dictumst quisque sagittis purus sit.
        Tincidunt eget nullam non nisi.
        Placerat vestibulum lectus mauris ultrices.
        Dictum sit amet justo donec enim diam.

        Lectus sit amet est placerat in egestas. Tincidunt arcu non sodales neque sodales ut. Neque viverra justo nec
        ultrices. Facilisis leo vel fringilla est ullamcorper eget nulla facilisi. Feugiat in ante metus dictum at
        tempor commodo ullamcorper a. Eu ultrices vitae auctor eu augue. Lacus luctus accumsan tortor posuere ac. Augue
        eget arcu dictum varius duis. Sit amet massa vitae tortor condimentum lacinia. A pellentesque sit amet porttitor
        eget dolor morbi non arcu. Orci eu lobortis elementum nibh tellus molestie nunc non. Quis vel eros donec ac odio
        tempor orci dapibus ultrices. Urna molestie at elementum eu facilisis sed odio morbi quis. Sagittis nisl rhoncus
        mattis rhoncus urna neque viverra justo. Euismod quis viverra nibh cras pulvinar mattis. Quam id leo in vitae
        turpis massa.

        Condimentum lacinia quis vel eros donec ac odio tempor orci. Consectetur adipiscing elit pellentesque habitant
        morbi tristique senectus et netus. Interdum varius sit amet mattis. Pellentesque habitant morbi tristique
        senectus et netus. Eget egestas purus viverra accumsan in nisl nisi scelerisque. Aliquam etiam erat velit
        scelerisque in dictum non. Lacus viverra vitae congue eu consequat ac felis donec et. Aliquam sem fringilla ut
        morbi tincidunt. Amet consectetur adipiscing elit duis tristique. Auctor urna nunc id cursus metus aliquam
        eleifend. Faucibus pulvinar elementum integer enim neque volutpat ac. Ipsum a arcu cursus vitae congue.
        Vulputate mi sit amet mauris commodo quis imperdiet. Maecenas ultricies mi eget mauris pharetra et ultrices.
        Ridiculus mus mauris vitae ultricies leo. Diam quis enim lobortis scelerisque fermentum dui faucibus in ornare.
        Non blandit massa enim nec dui nunc mattis enim ut. Placerat vestibulum lectus mauris ultrices eros in cursus
        turpis massa. Orci eu lobortis elementum nibh tellus molestie.

        Sed viverra tellus in hac habitasse. Est placerat in egestas erat imperdiet sed euismod nisi porta. Sit amet
        mauris commodo quis imperdiet massa tincidunt. In pellentesque massa placerat duis ultricies lacus. Mattis
        vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor. Luctus venenatis lectus magna fringilla
        urna. Aliquam etiam erat velit scelerisque in dictum non consectetur. Scelerisque fermentum dui faucibus in
        ornare quam. Habitant morbi tristique senectus et netus et malesuada fames. Quisque id diam vel quam elementum
        pulvinar etiam non quam. A diam maecenas sed enim ut sem viverra. Imperdiet nulla malesuada pellentesque elit
        eget gravida cum sociis natoque. Lorem donec massa sapien faucibus et molestie ac. Volutpat odio facilisis
        mauris sit amet massa vitae tortor. Pretium viverra suspendisse potenti nullam ac tortor vitae purus faucibus.
        Non enim praesent elementum facilisis leo. Tortor vitae purus faucibus ornare suspendisse sed. Eu augue ut
        lectus arcu bibendum at. Tempor nec feugiat nisl pretium fusce.
        Lorem ipsum dolor sit amet,
        consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae.
        Accumsan sit amet nulla facilisi morbi tempus.
        Odio ut sem nulla pharetra diam sit amet nisl.
        Sed lectus vestibulum mattis ullamcorper.
        Cras tincidunt lobortis feugiat vivamus at.
        Sed viverra ipsum nunc aliquet bibendum enim facilisis gravida neque.
        Viverra accumsan in nisl nisi scelerisque eu ultrices.
        Sed egestas egestas fringilla phasellus.
        Iaculis at erat pellentesque adipiscing commodo.

        Eget nulla facilisi etiam dignissim diam quis.
        Egestas maecenas pharetra convallis posuere morbi.
        Vestibulum sed arcu non odio.
        Duis ut diam quam nulla porttitor massa.
        Ultrices eros in cursus turpis massa tincidunt dui ut.
        Sit amet risus nullam eget felis eget nunc.
        In hac habitasse platea dictumst quisque sagittis purus sit.
        Tincidunt eget nullam non nisi.
        Placerat vestibulum lectus mauris ultrices.
        Dictum sit amet justo donec enim diam.

        Lorem ipsum dolor sit amet,
        consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Pretium vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae.
        Accumsan sit amet nulla facilisi morbi tempus.
        Odio ut sem nulla pharetra diam sit amet nisl.
        Sed lectus vestibulum mattis ullamcorper.
        Cras tincidunt lobortis feugiat vivamus at.
        Sed viverra ipsum nunc aliquet bibendum enim facilisis gravida neque.
        Viverra accumsan in nisl nisi scelerisque eu ultrices.
        Sed egestas egestas fringilla phasellus.
        Iaculis at erat pellentesque adipiscing commodo.

        Eget nulla facilisi etiam dignissim diam quis.
        Egestas maecenas pharetra convallis posuere morbi.
        Vestibulum sed arcu non odio.
        Duis ut diam quam nulla porttitor massa.
        Ultrices eros in cursus turpis massa tincidunt dui ut.
        Sit amet risus nullam eget felis eget nunc.
        In hac habitasse platea dictumst quisque sagittis purus sit.
        Tincidunt eget nullam non nisi.
        Placerat vestibulum lectus mauris ultrices.
        Dictum sit amet justo donec enim diam.
    </main>
    <footer>
        <div class="footer-statement">
            Made with ❤ by Sanjeev :)
        </div>
        <div class="footer-links">
            <a>contact1</a>
            <a>contact2</a>
            <a>contact3</a>
        </div>
    </footer>
</body>

</html>